.cart {
  padding: 20px;

  .head {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .total {
    color: darkblue;
  }
}

.cartItem {
  display: flex;
  gap: 20px;
  padding: 5px 0;
  border-bottom: 1px solid blue;

  img {
    width: 300px;
    aspect-ratio: 5 / 3;
  }

  input {
    padding: 5px 10px;
    border: 1px solid lightblue;
    border-radius: 5px;
  }
}
