.productList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  padding: 30px;

  .product {
    padding: 10px;
    border: 3px solid blue;
    border-radius: 10px;
    height: 400px;

    img {
      width: 100%;
      aspect-ratio: 5 / 3;
    }

    button {
      padding: 10px 20px;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
      }

      &.add {
        background-color: blueviolet;

        &:hover {
          background-color: blue;
        }
      }

      &.remove {
        background-color: darkgray;

        &:hover {
          background-color: gray;
        }
      }
    }
  }
}
