.cart {
  padding: 20px;
}

.cart .head {
  display: flex;
  align-items: center;
  gap: 20px;
}

.cart .total {
  color: darkblue;
}

.cart button {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.cart button:hover {
  cursor: pointer;
}

.cart button.continue {
  padding: 0;
}

.cart button.continue a {
  background-color: blueviolet;
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.cart button.continue a:hover {
  background-color: blue;
}

.cart button.checkout {
  background-color: red;
}

.cart button.checkout:hover {
  background-color: darkred;
}

.cart button.remove {
  background-color: darkgray;
}

.cart button.remove:hover {
  background-color: gray;
}

.cartItem {
  display: flex;
  gap: 20px;
  padding: 5px 0;
  border-bottom: 1px solid blue;
}

.cartItem img {
  width: 300px;
  aspect-ratio: 5 / 3;
}

.cartItem input {
  padding: 5px 10px;
  border: 1px solid lightblue;
  border-radius: 5px;
}
