$color-primary: blueviolet;
$color-primary-hover: blue;
$color-secondary: darkgray;
$color-secondary-hover: gray;

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.btn {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  background-color: $color-primary;

  &:hover {
    background-color: $color-primary-hover;
  }
}

.btn-secondary {
  background-color: $color-secondary;

  &:hover {
    background-color: $color-secondary-hover;
  }
}
